<div class="app-container">
  <header class="app-header">
    <h1>Mon Application Angular</h1>
    <nav>
      <ul>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/tasks">Task-list</a></li>
        <li><a routerLink="/tasks/1">Task-detail</a></li> <!-- Exemple de route avec paramètre -->
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet> <!-- Affiche la vue liée à la route -->
  </main>

  <footer class="app-footer">
    <p>&copy; 2024 Mon Application Angular</p>
  </footer>
</div>

